<table class="show">
	<tr>
		<td class="main">
			<h2>
				<%= gravatar_for @user %>
				" | "
				<%= h @user.name %>
			</h2>
		</td>
		<td class="sidebar round">
			<strong>Name</strong> <%= h @user.name %><br />
			<strong>OTHER STUFF</strong>
		</td>
	<tr>
</table>
