<h2>About Academic Ninjitsu</h2>
	<p>This project is meant to be helpful to teachers as a general lesson plan template thing.  Better words will go here eventually about the project, the site, and the other stuff</p>
