<h2>For More Information<h2>
	<ul class="navigation round">
		<li><%= link_to "Inigral's Website", 'http://www.inigral.com/' %></li>
		<li><%= link_to "My blog", 'http://toconfuseryan.blogspot.com' %></li>
	</ul>
